<!DOCTYPE html>

<html lang="fr" data-ng-app="myProjectApplication">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title data-translate="main.page_title"></title>

<% css.common.forEach(function(cssFile){ %>
        <link rel="stylesheet" href="<%= cssFile %>" type="text/css"/>
<% }) %>
<% css.app.forEach(function(cssFile){ %>
        <link rel="stylesheet" href="<%= cssFile %>" type="text/css"/>
<% }) %>
    </head>

    <body>
        
        <div id="content" class="container-fluid" data-ng-view></div>

        <script type="text/javascript" src="<%= js.common %>"></script>

<% config.forEach(function(configFile){ %>
        <script type="text/javascript" src="<%= configFile %>"></script>
<% }) %>

<% js.app.forEach(function(jsFile){ %>
        <script type="text/javascript" src="<%= jsFile %>"></script>
<% }) %>
    </body>
</html>


